/*

*/

body {
  min-height: 100vh;
  max-width:1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(images/Venezia.png);
  background-size: cover;
  
}
header {
  width:90%;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.8); /* aliceblue */
}
nav {
  display: flex;
  gap:30px;
  margin:20px;
  justify-content: center;
}
main {
  width:90%;
  text-align: center;
  background-color: rgba(224, 255, 255, 0.8); /* lightcyan */
  flex: 1; /* 親の余った高さをすべて埋める */
}
form {
  margin: 10px 0px;
}
dl {
 display: inline-block;
 text-align: left;
 border: 3px solid white;
 padding: 10px;
}
dt {
  font-weight: bold;
}
.btn {
  display: block;
  margin:10px auto 0px;
  border-radius: 5px;
}
.task-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  /* background-color: #f0c050; */
  flex-wrap: wrap; /* 親要素の幅や画面幅に合わせて子要素を折り返し */
  justify-content: center;
}
.task-card {
  display: inline-block;
  text-align: left;
  max-width: 90%;
  width: calc(50% - 80px);
  /* width: 100%; */
  padding: 10px;
  border: 5px solid #f0c050;
  border-radius: 10px;
  background-color: white;
}

.error {
  color: red;
}
.red {
  color: red;
}
.green {
  color: green;
}
.note {
  color: darkgray;
}